.nav-backgroud {
  background: #3C3B3F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}
.nav-text-color {
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  font-size: small;
}

.center-upload {
  margin: auto;
  width: 50%;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #073b4c;
}

.center-upload-button{
  text-align: center;
  margin-top: 10px;
}


.upload-text {
  text-align: center;
  font-size: small;
}

.card-holder {
  padding-top: 10px;
}

.main-report-card-div {
  margin: 60px auto ;
}

.main-report-card-type {
  margin-bottom: 70px  ;
}

.main-report-card-sector {
  margin-bottom: 70px  ;
}
.main-report-card-about {
  margin-bottom: 70px  ;
}

.sector-list {
  font-size: large;
  font-weight: bold;
}
.tabiri-bold {
  font-size: x-large;
  font-weight: bold;
}

.tabiri-bold-footer {
  font-size: large;
  font-weight: bold;
}
.text-large-bold {
  font-size: large;
  font-weight: bold;
}
.downloads-div{
  margin: auto
}

.text-small-bold {
  font-size: small;
  font-weight: bold;
  color: rgb(0, 47, 255);
}


.div-shadding-grey{
    background-color: #ededed;
}

.div-shadding-light-grey{
  background-color: #f9f9f9;
}